1.Program to find Area of a circle

In [ ]:
import math

In [ ]:
math.pi

3.141592653589793

In [ ]:
radius = float(input("Enter the radius="))
area =(math.pi*radius**2)
print("Area of the circle is",area)

Enter the radius=3
Area of the circle is 28.274333882308138

2.program to accept student details

In [ ]:
Name=(input("Enter your name:"))
Roll_number = (input("Enter your roll number:"))
Mark = (input("Enter your mark:"))
print("Name = ",Name)
print("Roll number = ", Roll_number)
print("Mark =", Mark)

Enter your name:Anisha
Enter your roll number:21
Enter your mark:78
Name =  Anisha
Roll number =  21
Mark = 78

3.program to get largest number from list

In [ ]:
list1 = [12,3,47,10]

largest = 0

for x in list1:
  if x > largest:
     largest = x
print(largest)

47

4.Given a range of first 10 numbers ,program to iterate from start number to the end number and print the sum of current number and previous number

In [ ]:
list1 = range(11)
sum=0
previous_num= 0
for x in list1:
   sum=previous_num + x
   print("previous number",previous_num, "+", "current number ", x , " = " ,"sum =",sum)
   previous_num = x

previous number 0 + current number  0  =  sum = 0
previous number 0 + current number  1  =  sum = 1
previous number 1 + current number  2  =  sum = 3
previous number 2 + current number  3  =  sum = 5
previous number 3 + current number  4  =  sum = 7
previous number 4 + current number  5  =  sum = 9
previous number 5 + current number  6  =  sum = 11
previous number 6 + current number  7  =  sum = 13
previous number 7 + current number  8  =  sum = 15
previous number 8 + current number  9  =  sum = 17
previous number 9 + current number  10  =  sum = 19

5.program to print only numbers divisible by5

In [31]:
list1 = [10,20,33,46,55]
for x in list1:
 if x%5 == 0:
  print(x)

10
20
55

6.program to check whether a number is prime or not

In [ ]:
 num = int(input("enter a number:"))
for test in range(2,num//2+1):
    if num%test == 0:
     print("not prime")
     break
 else:
  print("prime")

enter a number:7
prime

7.program to reverse a list using loop

In [27]:
list1 = [10,40,30,7]
list2 = []
for i in range(len(list1)):
  list2.append(list1[len(list1)-i-1])
print(list2)

[7, 30, 40, 10]

8.program to print given pattern

In [1]:
n=4
for i in range(0,n):
  for j in range(0,i+1):
    print("*",end="")
  print()

*
**
***
****

8.write a python program to find maximum of three numbers

In [15]:
a=34
b=12
c=7
if(a > b):
   if(a > c):
     print(a)
   else:
     print(c)
else:
  if(b > c):
    print(b)
  else:
    print(c)

34

10.python program to construct given pattern using nested loop

In [34]:
n=5
for i in range(0,n):
  for j in range(0,i+1):
     print("*",end="")
  print()
for i in range(n-1,0,-1):
  for j in range(i):
    print("*",end="")
  print()

*
**
***
****
*****
****
***
**
*