1.string value and its character count

In [ ]:
word = input("enter a word:")
i=0;
char_count = {}
while i<len(word):

  if word[i] in char_count:
      char_count[word[i]] = char_count[word[i]] + 1
  else:
     char_count[word[i]] = 1
  i=i+1
print(char_count)

enter a word:assembly
{'a': 1, 's': 2, 'e': 1, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

2.Maximum of three numbers

In [ ]:
def maximum(a,b,c):
  if (a >= b) and (a >= c):
    largest = a
  elif (b >= a) and (b >= c):
    largest = b
  else:
    largest = c
  return largest
maximum(34,1267,7)

1267

3.exponent function

In [ ]:
def power(a,b):
     if(a == 1):
       return (b)
     if(a != b) or (a == b):
       return a**b
power(3,3)

27

 4.python function which takes a positive integer and returns the sum of the cube of all positive integers smaller than that

In [ ]:
def sum_of_cubes(n):
  n= n-1
  total = 0
  while n > 0:
     total += n * n * n
     n -=1
  return total
print("sum of the cube of smaller number than given number=",sum_of_cubes(4))

sum of the cube of smaller number than given number= 36

5.Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:
for i in range(1,11):

  if i%2 == 0 and i%5 == 0:
    print("fizzbuzz")
  elif i%2 == 0:
      print("fizz")
  elif i%5 == 0:
      print("buzz")
  else:
      print(i)

1
fizz
3
fizz
buzz
fizz
7
fizz
9
fizzbuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [50]:

def most_frequent(List):
    return max(set(List), key = List.count)

List = [2,3,4,2,5,2]
print(most_frequent(List))

2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [ ]:
import numpy as np
test_list = np.array([2,1,3,1])
result = np.sum(np.square(test_list))
print(result)

15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [ ]:
for i in range(1,16):
  if i % 2 == 0:
    print(i,"is even")
  else:
     print(i,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [49]:
f = float(input("Enter temperature in f: "))
c = (f - 32) * 5/9
print(c,"C")

Enter temperature in f: 41
5.0 C

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def factorial(n):
    p=1
    i=1
    while i<=n:
       p= p*i
       i+=1
    return p
factorial(3)

6